/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
button {
  cursor: pointer;
}
/* Global reset end */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: purple;
}
:root {
  --box-bck: rgb(16, 18, 4);
  --text-gray: gainsboro;
  --box-gray: #22272b;
}
/* main */
main {
  display: flex;

  width: 100%;
}
.container {
  width: 22%;
  margin: 10px;
}

.title {
  padding: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--box-bck);
  padding: 10px 10px;
  border-radius: 12px;
  color: var(--text-gray);
  font-size: 18px;
}
.card {
  margin-top: 10px;
  background-color: var(--box-gray);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.edit {
  display: flex;
  align-items: center;
}
.edit img {
  display: flex;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  padding-bottom: 2px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 200ms;
}
.edit img:hover {
  border-color: gainsboro;
  transition: all 0.2s ease-out;
}
.moveOptions {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: var(--box-gray);
  display: none; /*block*/
  border-radius: 5px;
}
.moveOptions p {
  padding: 7px 15px;
  border: 1px solid gainsboro;
  cursor: pointer;
}
.block {
  display: block;
}
.card:hover {
  border: 2px solid rgb(81, 81, 246);
}
.card p {
  word-break: break-all;
}

.editBar {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--box-gray);
}
.editBox {
  margin-top: 10px;
}
.addCard {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.addCard:hover {
  background-color: #35353a;
}
.addCard img {
  width: 16px;
}
.addCard span {
  margin-left: 8px;
}
.addCardInfo {
  margin-top: 10px;
  background-color: var(--box-gray);
  border-radius: 12px;
  padding: 10px;
  display: none; /*block*/
}
.areaBox {
  width: 100%;
  height: 50px;
  color: var(--text-gray);
  background-color: transparent;
  border: none;
  resize: none;
}
.areaBox:focus {
  outline: none;
}
.createCard {
  display: none; /*flex*/
  align-items: center;
  margin-top: 10px;
}
.createBtn {
  background-color: rgb(125, 153, 255);
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
}
.cancelBtn {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  width: 15px;
  display: flex;
}
.addList {
  width: 22%;
  margin: 10px;
}
.addlistCont {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.378);
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}
.addlistCont p {
  color: white;
  padding-left: 10px;
}
